{% extends 'auctions/layout.html' %}

{% block title %}
    Product Details
{% endblock %}

{% block body %}
    <h4>Listing: {{ details.title }}</h4>
    <img src="{{ details.photo }}">
    <p>{{ details.description }}</p>
    <h6>Details</h6>
    <ul>
        <li>Listed by: {{ details.username }}</li>
        <li>Category: {{ details.categories }}</li>
    </ul>
    <form action="{% url 'details' details.id %}" method='POST'>
        {% csrf_token %}
        <input type="text" name="comment">
        <input type="submit" value="submit">
    </form>
    {% for cmt in product_comments %}
        <p>{{cmt.username}}</p>
        <p>{{cmt.text}}</p>
        <p>{{cmt.timestamp}}</p>
    {% empty %}
        <p>No comments Yet....Be the first One </p>
    {% endfor %}
{% endblock %}